<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
     
    </system.web>

  <connectionStrings>
    <add connectionString="Data Source=NITHIN-GRINDAN\SQLEXPRESS;Initial Catalog=LoginInfo;User ID=sa;Password =sqlserver;Pooling=true;Min Pool Size=2;Max Pool Size=100;Connection Timeout=36000" name="con"/>

  </connectionStrings>

    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="HRMSWEBAP.Web.MailService.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <services>
            <service name="HRMSWEBAP.Web.MailService">
                <endpoint address="" binding="customBinding" bindingConfiguration="HRMSWEBAP.Web.MailService.customBinding0"
                    contract="HRMSWEBAP.Web.MailService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
